# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch*
*.pch*

# Makefile dependencies
*.cpp.d
*.c.d
*.h.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

# profile data
*.profdata
*.profraw


# overrides:
commit
run
*.sublime-*
build/sysroot
build/meson-*
.modifydates

build/test
build/gltest
build/standalone
*.ll
*.bc

build/plots.txt
build/massive.flx

*.ir
shakefile.hi
shakefile
.shake.database
checker-276
countloc

.shake.lock
bug-repro
.clang_complete
*.code-workspace

.vscode
*.vcxproj.filters
*.vcxproj.user

countloc.bat

prof.svg
prof_with_square.svg
build/cmake-output
.idea
# CMakeLists.txt

.flax-repl-history

docs/.antlr

codealike.json

build/test
build/tester
build/supertiny
build/gltest

release.fish
macosx.zip
flax.config
flax.creator
flax.creator.user
flax.files
flax.includes
.vs/
build/__pycache__
*.vspx

.cache
compile_flags.txt
