language: cpp
compiler: clang

matrix:
    include:
    - os: linux
      dist: trusty
      sudo: false
    - os: osx
      osx_image: xcode9.2

addons:
    apt:
        sources:
        - llvm-toolchain-trusty-6.0
        - ubuntu-toolchain-r-test

        packages:
        - g++-7
        - llvm-6.0
        - llvm-6.0-dev
        - libllvm6.0
        - libmpfr-dev
        - libmpfr4

before_script:
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        brew install llvm@6;
        brew upgrade mpfr;
        # cd $(brew --cellar)/llvm@5/*;
        # cp $TRAVIS_BUILD_DIR/llvm-5.0.0-5.0.1-patch.diff ./;
        # patch -p0 < llvm-5.0.0-5.0.1-patch.diff;
        # ls -R bin;
        # cd $TRAVIS_BUILD_DIR;
      fi

script:
    - if [ "$TRAVIS_OS_NAME" == "osx" ];
        then PATH="/usr/local/opt/llvm@6/bin:$PATH" LLVM_CONFIG=llvm-config make tester;
      else CXX=g++-$GCC_VERSION CC=gcc-$GCC_VERSION make ci;
      fi

notifications:
    email: false

after_success:
    - zip -r linux-x64 build/sysroot

deploy:
    provider: releases
    api-key: ${GITHUB_OAUTH_TOKEN}
    file: linux-x64.zip
    skip-cleanup: true
    on:
        all_branches: true
        tags: true
