image: Visual Studio 2019
clone_depth: 50
clone_folder: c:\projects\flax

environment:
  global:
    MPIR_ROOT_DIR:    c:\projects\lib\mpir
    MPFR_ROOT_DIR:    c:\projects\lib\mpfr
    LLVM_ROOT_DIR:    c:\projects\lib\llvm
    LIBFFI_ROOT_DIR:  c:\projects\lib\libffi

cache:
  - c:\projects\lib -> appveyor.yml

install:
  # Set up the build environment
  - cmd: call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
  # download our deps.
  - ps: "[Net.ServicePointManager]::SecurityProtocol = 'Ssl3, Tls, Tls11, Tls12'"
  - ps: >-
      If (!(Test-Path c:\projects\lib -PathType Container)) {
        Invoke-WebRequest 'https://github.com/flax-lang/flax/releases/download/win-build-deps/libraries.zip' -OutFile 'c:\projects\libs.zip'
        7z x -y -oc:\projects\lib c:\projects\libs.zip
      }
  # Download ninja
  - cmd: mkdir C:\ninja-build
  - ps: (new-object net.webclient).DownloadFile('https://github.com/mesonbuild/cidata/raw/master/ninja.exe', 'C:\ninja-build\ninja.exe')
  - cmd: set PYTHON_ROOT=C:\python37-x64
  # Add neccessary paths to PATH variable
  - cmd: set PATH=%cd%;C:\ninja-build;%PYTHON_ROOT%;%PYTHON_ROOT%\Scripts;%PATH%
  # Install meson
  - cmd: pip install meson

build_script:
  - ps: meson --buildtype=release build/meson-rel
  - ps: ninja -C build/meson-rel

test_script:
  - ps: cd c:\projects\flax
  - ps: New-Item -Force -Path build\sysroot\usr\local\lib\flaxlibs -ItemType Directory
  - ps: Copy-Item -Recurse -Force libs\* build\sysroot\usr\local\lib\flaxlibs\
  - ps: build\meson-rel\flaxc.exe -sysroot build\sysroot -run -backend llvm build\tester.flx
  - ps: build\meson-rel\flaxc.exe -sysroot build\sysroot -run -backend interp build\tester.flx
  - ps: build\meson-rel\flaxc.exe -sysroot build\sysroot build\tester.flx
  - ps: .\tester.exe

after_test:
  - cmd: 7z a windows-x64.zip %APPVEYOR_BUILD_FOLDER%\build\meson-rel\flaxc.exe
  - cmd: 7z a windows-x64.zip %APPVEYOR_BUILD_FOLDER%\build\sysroot\usr\local\lib
  - cmd: 7z rn windows-x64.zip flaxc.exe sysroot\usr\local\bin\flaxc.exe
  - cmd: 7z rn windows-x64.zip lib sysroot\usr\local\lib

artifacts:
  - path: windows-x64.zip

deploy:
  - provider: GitHub
    description: ''
    artifact: windows-x64.zip
    auth_token:
      secure: Sk3O32lE4SgtirIRqI2PWP2tkfCg2Iurz+eFrLN7C9s/nIUCDbxV0T5hjjZqMIw5
    on:
      APPVEYOR_REPO_TAG: true




